<div class="input-group mb-3" id="nav">
    <div class="input-group-prepend">
      <button class="btn btn-outline-black dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn" style="width: 230px; margin-left: -65px;"><strong>Admission Desk Executive</strong></button>
      <div class="dropdown-menu bg-dark">
        <a class="dropdown-item text-info" href="/create">Create Patient</a>
        <a class="dropdown-item text-info" href="/update">Update patient</a>
        <a class="dropdown-item text-info" href="/delete">Delete Patient</a>
        <a class="dropdown-item text-info" href="/view">View Patients</a>
        <a class="dropdown-item text-info" href="/search">Search Patient</a>
        <a class="dropdown-item text-info" href="/finalbilling">Final Billing</a>
      </div>
    </div>
    <div class="input-group-prepend">
        <button class="btn btn-outline-black dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn" style="width: 195px;"><strong>Pharmacist</strong></button>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-info" href="/patientmedicine">Get Patient</a>
         </div>
      </div>
      <div class="input-group-prepend">
        <button class="btn btn-outline-black dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn" style="width: 260px;"><strong>Diagnostics Service Executive</strong></button>
        <div class="dropdown-menu bg-dark">
          <a class="dropdown-item text-info" href="/patientdiagnostic">Get Patient</a>
        </div>
      </div>
   
  </div>