{% extends "layout.html" %}
{% block body %}

<h2 class="text-center">Diagnostics</h2><br>
<div class="bg-white view">
  <!-- Create Table  -->
<table class="table table-bordered">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">Patient ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">DOJ</th>
      <th scope="col">Type of Room</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
          <form class="" method="POST" action="" style="width: 155px">
            <input type="text"  style="width: 100px; height: 35px;" placeholder="Search..." name="id" class="" required  value={{request.form.id}} >
            <button type="submit" class="bg-dark text-white" name="btn" value="search" style="width: 50px; height: 35px; border-radius: 12px; border: whitesmoke;"><i class="fa fa-search text-black"></i></button>
          </form>
      </td>
      <!-- Fetching all the details for particular patients  -->
      <td>{{data.PatientName}}</td>
      <td>{{data.Age}}</td>
      <td>{{data.Address}}</td>
      <td>{{data.DateofAdmission}}</td>
      <td>{{data.Typeofbed}}</td>

    </tr>
  </tbody>
 
</table>
</div><br><br>


<h2 class="text-center">Diagnostics Conducted</h2><br>
<div class="bg-white view" style="width: 800px; margin-left: 150px;">
<table class="table table-bordered">
  <thead>
    <tr class="bg-dark text-white">
      
      <th scope="col">Name of the test</th>
      <th scope="col">Amount</th>

    </tr>
  </thead>
  <tbody>
    <!-- fetching Diagnostics Test Name and Charge for test for particular Patient  -->
    {% for  d in data1 %}
    <tr>
      <td>{{d.TestName}}</td>
       <td>Rs.{{d.Chargefortest}}</td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
</div><br><br>
<a href="/diagnostics">
    <button type="button" class="btn btn-dark text-center" style="width: 200px; height: 50px; margin-left: 450px;">Add Diagnostics</button>
</a>

{% endblock %}