{% extends "layout.html" %}
{% block body %}


<div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-black bold">View Patient </h3><br><br>


                            <div class="row">
                                <div class="col-md-4"><strong>Patient ID*</strong></div>
                                <div class="col-md-8">
                                <form class="example">
                                    <input type="text"  style="width: 260px; height: 43px;" placeholder="Search..." name="id" class="" required  value={{request.form.id}} >
                                    <button type="submit" class="bg-dark text-white" name="btn" value="search" style="width: 55px; height: 43px; border-radius: 12px; border: whitesmoke;"><i class="fa fa-search text-black"></i></button>
                                  </form>
                                </div>
                            </div><br>

                                <div class="row">
                                    <div class="col-md-4"><strong>Patient Name</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="name" class="form-control" value={{request.form.name}}>
                                    </div>
                                </div><br>
                                
                                <div class="row">
                                <div class="col-md-4"><strong>Patient Age</strong></div>
                                    <div class="col-md-8">
      
                                    <input type="text" name="age" class="form-control" value={{request.form.age}}>
         
                                    </div>
                                    </div><br>
                                <div class="row">
                                    <div class="col-md-4"><strong>Date of Admission</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="admission" class="form-control" value={{request.form.admission}}></p>
                                    </div>
                                </div>
                                    <div class="row">
                                <div class="col-md-4"><strong>Type of bed</strong></div>
                                    <div class="col-md-8">
                                        <input type="text" id = "myList" name="bed" style="width: 320px; height: 35px;" value={{request.form.bed}}></input>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-md-4"><strong>Address</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="address" class="form-control" value={{request.form.address}}></input><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><strong>State</strong></div>
                                        <div class="col-md-8">
                                            <input type="text" onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" value={{request.form.stt}}></input><br>
                                            <script language="javascript">print_state("sts");</script>
                                        </div>
                                        </div>
    
                                    <div class="row">
                                        <div class="col-md-4"><strong>City</strong></div>
                                        <div class="col-md-8">
                                            <input type="text" id ="state" class="form-control"  name="city"  value={{request.form.city}}></input>
                                        </div>
                                    </div><br>


                                    <div class="row">
                                        <div class="col-md-4"><strong>Status</strong></div>
                                            <div class="col-md-8">
                                            <input type="text" id = "myList" name="status" style="width: 320px; height: 35px;" value={{request.form.bed}}></input>
                                        </div>
                                    </div><br>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}