{% extends "layout.html" %}
{% block body %}


<div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-black bold">Update Patient </h3><br><br>


                            <div class="row">
                                <div class="col-md-4"><strong>Patient ID*</strong></div>
                                    <div class="col-md-8">
                                    <input type="text" name="id" class="form-control" value={{request.form.id}}>
                                    </div>
                                    </div><br>
                                <div class="row">
                                    <div class="col-md-4"><strong>Patient Name</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="name" class="form-control" value={{request.form.name}}></p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                <div class="col-md-4"><strong>Patient Age</strong></div>
                                    <div class="col-md-8">
      
                                    <input type="text" name="age" class="form-control" value={{request.form.age}}>
         
                                    </div>
                                    </div><br>
                                <div class="row">
                                    <div class="col-md-4"><strong>Date of Admission</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="admission" class="form-control" value={{request.form.admission}}></p>
                                    </div>
                                </div>
                                    <div class="row">
                                <div class="col-md-4"><strong>Type of bed</strong></div>
                                    <div class="col-md-8">
                                    <select id = "myList" name="bed" style="width: 320px; height: 35px;" value={{request.form.bed}}>
                                        <option value={{request.form.bed}}>{{request.form.bed}}</option>
                                            <option value = "General">General</option>
                                            <option value = "Single">Single</option>
                                            <option value = "Shared">Shared</option>
                                        </select>
          
         
                                    </div>
                                    </div><br>
                                <div class="row">
                                    <div class="col-md-4"><strong>Address</strong></div>
                                    <div class="col-md-8">
                                    
                                    <input type="text" name="address" class="form-control" value={{request.form.address}}></input><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4"><strong>State</strong></div>
                                        <div class="col-md-8">
                                            <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control" value={{request.form.stt}} ></select>
                                          
                                            <p style="margin-left: 340px; margin-top: -30px;"><strong>{{request.form.stt}}</strong></p><br>
                                            <script language="javascript">print_state("sts");</script>
                                        </div>
                                        </div>
    
                                    <div class="row">
                                        <div class="col-md-4"><strong>City</strong></div>
                                        <div class="col-md-8">
                                            <select id ="state" class="form-control"  name="city"  value={{request.form.city}}>
                                            <option>{{request.form.city}}</option>
                                            </select>
                                        </div>
                                    </div><br>


                                    <div class="row">
                                        <div class="col-md-4"><strong>Status</strong></div>
                                            <div class="col-md-8">
                                            <select id = "myList" name="status" style="width: 320px; height: 35px;" value={{request.form.bed}}>
                                                <option value={{request.form.status}}>{{request.form.status}}</option>
                                                    <option value = "Active">Active</option>
                                                    <option value = "Discharged">Discharged</option>
                                                </select>
                  
                 
                                            </div>
                                            </div><br>
    

                            
                           <div class="form-group">
                                <input type="submit" class="btn btn-dark btn-lg active" name="btn" role="button" aria-pressed="true" style="margin-left: 100px; border-radius: 15px;" value="Update"></input>
                            </div>

                            <div class="form-group" id="get">
                                <input type="submit" class="btn btn-dark btn-lg active" name="btn" role="button" aria-pressed="true" style="margin-left: 100px; width: 100px; border-radius: 15px;" value="Get"></input>
                            </div> 
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}

