{% extends "layout.html" %}
{% block body %}

<h2 class="text-center">View Patients</h2><br>
<div class="bg-white view">
  <!-- Create table  -->
<table class="table table-bordered">
  <thead>
    <tr class="bg-dark text-white">
      <th scope="col">Patient ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Address</th>
      <th scope="col">DOJ</th>
      <th scope="col">Type of Room</th>
    </tr>
  </thead>
  <tbody>
    <!-- Fetch all the Patient Details from databse those who have status="ACTIVE"  -->
    {% for d in data %}
    <tr>
      <td>{{d.PatientID}}</td>
      <td>{{d.PatientName}}</td>
      <td>{{d.Age}}</td>
      <td>{{d.Address}}</td>
      <td>{{d.DateofAdmission}}</td>
      <td>{{d.Typeofbed}}</td>
    </tr>
    {%endfor%}

  </tbody>
</table>
</div>

{% endblock %}